.about {
  padding: 144px 0;

  @include _600 {
    padding-top: 0;
    padding-bottom: 80px;
  }

  &__title {
    margin-bottom: 12px;
    max-width: 1070px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 1.2;
    color: $sub;

    @include _600 {
      margin-bottom: 7px;
      font-size: 35px;
    }
  }

  &__text {
    margin-bottom: 78px;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.5;
    color: $sub;
    opacity: 0.7;

    @include _600 {
      margin-bottom: 40px;
      font-size: 18px;
    }
  }

  .video {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: none;
      z-index: 9;

      @include _600 {
        width: 48px;
        height: 48px;
      }
    }

    &__picture {
      position: absolute;
      left: 0;
      top: 0;
    }

    &__object {
      width: 100%;
      vertical-align: top;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .overlay::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 68, 85, 0.5);
  }
}
